@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: #f6f9fd;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
}

.logo {
    font-size: 35px;
    font-weight: 800;
    color: #000;
    letter-spacing: 3px;
    cursor: pointer;
}

.logo span {
    color: #ffba00;
}

.links a {
    font-size: 25px;
    color: #000;
    margin: 25px 10px;
}

.wrapper {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}

.wrapper::before {
    position: absolute;
    content: '';
    height: 350px;
    width: 350px;
    border-radius: 50%;
    left: -12%;
    top: 40%;
    background: linear-gradient(45deg, #ffba00, pink);
    animation: object1 6s linear infinite;
}

@keyframes object1 {
    50% {
        left: -13%;
        top: 31%;
    }
}

.cols {
    width: 50%;
}

.topLine {
    font-size: 40px;
    letter-spacing: 5px;
    color: #000;
}

h1 {
    font-size: 3em;
    font-weight: 900;
    color: #000;
}

.multiText {
    color: #ffba00;
    text-transform: capitalize;
}

p {
    width: 90%;
    font-size: 1.2em;
    color: #000;
}

.btns {
    left: 150px;
    margin-top: 2em;
}

.button {
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    background-color: #000;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-decoration: none;
}

.button:hover {
    background-color: #ffba00;
}

.imgbox {
    position: relative;
    width: 90%;
    height: auto;
}

.imgbox img {
    height: auto;
    width: 100%;
    top: 50px;
    right: 50px;
    animation: animateUser 4s linear infinite;
}

@keyframes animateUser {
    50% {
        right: 30px;
        top: 40px;
    }
}

.imgbox #splash {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-35deg);
    width: 160%;
    filter: saturate(200%);
    animation: animate 4s linear infinite;
}

@media screen and (max-width: 768px) {
    .navItems, .links {
        display: none;
    }

    .logo {
        font-size: 25px;
    }

    .wrapper {
        flex-direction: column;
        height: auto;
    }

    .wrapper::after {
        display: none;
    }

    .cols {
        width: 100%;
    }

    .topLine {
        font-size: 30px;
    }

    h1 {
        font-size: 2em;
    }

    p {
        width: 100%;
        font-size: 1em;
    }
}
